<div class="app-layout">
  <div class="app-sidebar-menu bg-body-secondary">
    @if(modifiedData && modifiedData.length>0){

    <ul class="list-group p-3">
      @for(category of modifiedData; track category.categoryID) {
      <li class="list-group-item border-0">
        <a href="" class="list-group-item">{{ category.categoryName }}</a>
        <ng-container
          *ngTemplateOutlet="
            recursiveCategory;
            context: { $implicit: category }
          "
        ></ng-container>
      </li>
      }
    </ul>

    <ng-template #recursiveCategory let-category>
      @if(category.subCategory && category.subCategory.length>0){
      <ul class="ps-2">
        @for( subsection of category.subCategory; track subsection.categoryID ){
        <li class="list-group-item border-0 px-0">
          <a href="" class="list-group-item">{{ subsection.categoryName }}</a>
          <ng-container
            *ngTemplateOutlet="
              recursiveCategory;
              context: { $implicit: subsection }
            "
          ></ng-container>
        </li>
        }
      </ul>
      }
    </ng-template>
    }
  </div>
  <div class="app-main-body">
    <div class="card px-4 py-5"></div>
  </div>
</div>
